<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlueCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,39},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GoldCoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,131},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GreenCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,34},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IceBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{80,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,90}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>PauseBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{30,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{30,34}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>PauseRestart.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,39},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>PauseResume.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,131},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>YellowCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,131},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,30}}</string>
                <key>sourceSize</key>
                <string>{384,30}</string>
            </dict>
            <key>barIphone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,116},{160,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,13}}</string>
                <key>sourceSize</key>
                <string>{160,13}</string>
            </dict>
            <key>combo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,208},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>combo10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,203},{55,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,33}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>combo100.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{85,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,35}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>combo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{53,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,41}}</string>
                <key>sourceSize</key>
                <string>{53,41}</string>
            </dict>
            <key>combo50.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,208},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,33}}</string>
                <key>sourceSize</key>
                <string>{64,33}</string>
            </dict>
            <key>invisible.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2},{1,1}}</string>
                <key>offset</key>
                <string>{-34.5,34.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pauseMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>pinkCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,39},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>redcircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,39},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameplayUI.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ca507d4bf203c4e1cf8d3926fbf208c:41e4e5ec21fc1f52ef1e098230c662fd:a0d1fd65cad0ffe61c370f12be28414c$</string>
            <key>textureFileName</key>
            <string>GameplayUI.png</string>
        </dict>
    </dict>
</plist>
