<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameOverGamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,2},{237,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,238}}</string>
                <key>sourceSize</key>
                <string>{237,238}</string>
            </dict>
            <key>GameOverTimeBackLayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{1051,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1051,210}}</string>
                <key>sourceSize</key>
                <string>{1051,210}</string>
            </dict>
            <key>ShareBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,398},{412,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,110}}</string>
                <key>sourceSize</key>
                <string>{412,110}</string>
            </dict>
            <key>Starbelow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,271}}</string>
                <key>sourceSize</key>
                <string>{280,271}</string>
            </dict>
            <key>clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,2},{157,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,158}}</string>
                <key>sourceSize</key>
                <string>{157,158}</string>
            </dict>
            <key>diomond.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{237,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,238}}</string>
                <key>sourceSize</key>
                <string>{237,238}</string>
            </dict>
            <key>home.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,200},{449,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,196}}</string>
                <key>sourceSize</key>
                <string>{449,196}</string>
            </dict>
            <key>retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{449,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,196}}</string>
                <key>sourceSize</key>
                <string>{449,196}</string>
            </dict>
            <key>starGlow.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{248,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,239}}</string>
                <key>sourceSize</key>
                <string>{248,239}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameOverUI-ipadhd.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e813ba29dd1e429c1b6c3150ab4b0d9c:3f28f180339600e575a9b9ca96f9e6f9:a578186384544f4150c05439797bd69a$</string>
            <key>textureFileName</key>
            <string>GameOverUI-ipadhd.png</string>
        </dict>
    </dict>
</plist>
