<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlueCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,359},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>GoldCoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,77},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>GreenCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,218},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>IceBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{160,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,180}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>PauseBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,369},{57,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{57,66}}</string>
                <key>sourceSize</key>
                <string>{97,88}</string>
            </dict>
            <key>PauseRestart.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,77},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>PauseResume.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,259},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>YellowCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,77},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{767,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{767,61}}</string>
                <key>sourceSize</key>
                <string>{767,61}</string>
            </dict>
            <key>barIphone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,479},{320,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,25}}</string>
                <key>sourceSize</key>
                <string>{320,25}</string>
            </dict>
            <key>combo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,2},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>combo10.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,410},{110,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,67}}</string>
                <key>sourceSize</key>
                <string>{110,67}</string>
            </dict>
            <key>combo100.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,2},{170,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,69}}</string>
                <key>sourceSize</key>
                <string>{170,69}</string>
            </dict>
            <key>combo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{106,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,82}}</string>
                <key>sourceSize</key>
                <string>{106,82}</string>
            </dict>
            <key>combo50.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,410},{127,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,67}}</string>
                <key>sourceSize</key>
                <string>{127,67}</string>
            </dict>
            <key>invisible.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{1,1}}</string>
                <key>offset</key>
                <string>{-69,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>pauseMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>pinkCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,369},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>redcircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,228},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameplayUI-ipad.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ca507d4bf203c4e1cf8d3926fbf208c:41e4e5ec21fc1f52ef1e098230c662fd:a0d1fd65cad0ffe61c370f12be28414c$</string>
            <key>textureFileName</key>
            <string>GameplayUI-ipad.png</string>
        </dict>
    </dict>
</plist>
