<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BestScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,614},{196,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,196}}</string>
                <key>sourceSize</key>
                <string>{196,196}</string>
            </dict>
            <key>BtnMoreGames.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,400},{212,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,212}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>Classic.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,400},{396,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,396}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
            <key>Multi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1616},{191,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{191,191}}</string>
                <key>sourceSize</key>
                <string>{193,193}</string>
            </dict>
            <key>Ratebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1423},{191,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{191,191}}</string>
                <key>sourceSize</key>
                <string>{193,193}</string>
            </dict>
            <key>RemoveAds.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1254},{191,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{191,191}}</string>
                <key>sourceSize</key>
                <string>{193,193}</string>
            </dict>
            <key>arcade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{396,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,396}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
            <key>backbtnlevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,812},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>btnStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{353,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{353,353}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1058},{194,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{194,194}}</string>
                <key>sourceSize</key>
                <string>{196,196}</string>
            </dict>
            <key>infinity.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1075},{346,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,346}}</string>
                <key>sourceSize</key>
                <string>{346,346}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{568,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,318}}</string>
                <key>sourceSize</key>
                <string>{568,318}</string>
            </dict>
            <key>memory.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,798},{346,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,346}}</string>
                <key>sourceSize</key>
                <string>{346,346}</string>
            </dict>
            <key>settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1339},{191,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{191,191}}</string>
                <key>sourceSize</key>
                <string>{193,193}</string>
            </dict>
            <key>single.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1254},{191,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{191,191}}</string>
                <key>sourceSize</key>
                <string>{193,193}</string>
            </dict>
            <key>twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1146},{191,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{191,191}}</string>
                <key>sourceSize</key>
                <string>{193,193}</string>
            </dict>
            <key>zen.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{396,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,396}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MenuUI-ipadhd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0017ca85a2126c3cd1528d919a274c85:051c10136ce9f6d7ab46a3a29b8678f3:7234d3a622e7c4574c364fd11f90a97f$</string>
            <key>textureFileName</key>
            <string>MenuUI-ipadhd.png</string>
        </dict>
    </dict>
</plist>
